# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [ ]:
# Your code goes here
import pandas as pd
import cleaning as cl

data_df1 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
data_df2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
data_df3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")


# changing column names so the concat matches
cl.rename_columns(data_df1)
cl.rename_columns(data_df2)
cl.rename_columns(data_df3)
print(data_df1.columns, data_df2.columns, data_df3.columns)
# concatenating all columns
data_df = pd.concat([data_df1, data_df2, data_df3])

# cleaning data using the previously implemented functions
cl.rename_columns(data_df)
cl.replace_values(data_df)
cl.change_data_types(data_df)
data_df = cl.fill_na_values(data_df)
data_df = cl.handle_duplicates(data_df)

data_df

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object') Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'total_claim_amount', 'policy_type', 'vehicle_class'],
      dtype='object') Index(['customer', 'state', 'customer_lifetime_value', 'education', 'gender',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'total_claim_amount', 'vehicle_class'],
      dtype='object')

c:\Users\Friedrich\OneDrive\Dokumente\Ironhack\04 Python\Week 7\lab-dw-data-structuring-and-combining\cleaning.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_remove_all_null["number_of_open_complaints"] = df_remove_all_null["number_of_open_complaints"].fillna(0)
c:\Users\Friedrich\OneDrive\Dokumente\Ironhack\04 Python\Week 7\lab-dw-data-structuring-and-combining\cleaning.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_remove_all_null["total_claim_amount"] = df_remove_all_null["total_claim_amount"].fillna(0)
c:\Users\Friedrich\OneDrive\Dokumente\Ironhack\04 Python\Week 7\lab-dw-data-structuring-and-combining\cleaning.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_remove_all_null["customer_lifetime_value"] = df_remove_all_null["customer_lifetime_value"].fillna(mean_value)
c:\Users\Friedrich\OneDrive\Dokumente\Ironhack\04 Python\Week 7\lab-dw-data-structuring-and-combining\cleaning.py:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_remove_all_null["income"] = df_remove_all_null["income"].fillna(df_remove_all_null["income"].mean())

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,NaN,Master,7.799463e+05,0.0,1000.0,0.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6.979536e+05,0.0,94.0,0.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1.288743e+06,48767.0,108.0,0.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7.645862e+05,0.0,106.0,0.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5.363077e+05,36357.0,68.0,0.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
9126,LA72316,California,M,Bachelor,7.799463e+05,71941.0,73.0,0.0,Personal Auto,Four-Door Car,198.234764
9127,PK87824,California,F,College,7.799463e+05,21604.0,79.0,0.0,Corporate Auto,Four-Door Car,379.200000
9128,TD14365,California,M,Bachelor,7.799463e+05,0.0,85.0,0.0,Corporate Auto,Four-Door Car,790.784983
9129,UP19263,California,M,College,7.799463e+05,21941.0,96.0,0.0,Personal Auto,Four-Door Car,691.200000
9130,Y167826,California,M,College,7.799463e+05,0.0,77.0,0.0,Corporate Auto,Two-Door Car,369.600000

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [ ]:
# Your code goes here

data_df4 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")



pivot_df = data_df4.pivot_table(columns="sales_channel", values="customer_lifetime_value", aggfunc="sum").round(2)
#groupby_dt = data_df4.groupby("sales_channel")["customer_lifetime_value"].sum()
print("Sum:")
print(pivot_df)
pivot_df = data_df4.pivot_table(columns="sales_channel", values="customer_lifetime_value", aggfunc="mean").round(2)
print("Mean:")
print(pivot_df)
# groupby_dt
# data_df4.sales_channel.unique() # array(['Agent', 'Call Center', 'Branch', 'Web'],

Sum:
sales_channel                  Agent       Branch  Call Center         Web
customer_lifetime_value  33057887.85  24359201.21  17364288.37  12697632.9
Mean:
sales_channel              Agent   Branch  Call Center      Web
customer_lifetime_value  8021.81  8060.62      8110.36  7809.12

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [51]:
# Your code goes here
print(data_df4.columns)
complaint_df = data_df4.groupby(["month", "policy_type"])["number_of_open_complaints"].sum()
complaint_df

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

month  policy_type
1      Corporate Auto     443.434952
       Personal Auto     1727.605722
       Special Auto        87.074049
2      Corporate Auto     385.208135
       Personal Auto     1453.684441
       Special Auto        95.226817
Name: number_of_open_complaints, dtype: float64